.container{
    align-content: center;
    align-items: center;
}

.img{ 
    height: 200px;
}
.bottom{
    padding-bottom: 30px;
}
.text-center{ 
    border-style: solid;
    border-color: #004b77;
}
.div-body, .bottom{ 
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}